# APP
APP_ENV=prod
APP_DEBUG=0
APP_BASE_URL=https://pakowanie.led-one.pl
APP_TIMEZONE=Europe/Warsaw

# MYSQL (baza pakowania)
MYSQL_HOST=127.0.0.1
MYSQL_DB=admin_pakowanie
MYSQL_USER=admin_konrad
MYSQL_PASS=889konrad889
MYSQL_CHARSET=utf8mb4

# (opcjonalnie) MYSQL - Twoja stara baza admin_automat (jeśli będziesz brał fotki/tytuły itp.)
MYSQL2_HOST=127.0.0.1
MYSQL2_DB=admin_automat
MYSQL2_USER=admin_konrad
MYSQL2_PASS=889konrad889
MYSQL2_CHARSET=utf8mb4

# FIREBIRD (EazyUploader)
# Uwaga na backslash w ścieżkach - użyj podwójnych \\ lub cudzysłowów
FB_DSN="firebird:dbname=192.168.0.12:D:\\eu\\baza.eu3;charset=WIN1250"
FB_USER=SYSDBA
FB_PASS=olamakota1
FB_LIMIT=500
FB_SECTION_READY=27

# MSSQL (Subiekt) - jeśli będziesz mapował po podtytule / dociągał dokumenty
MSSQL_HOST=192.168.0.12
MSSQL_PORT=49645
MSSQL_DB=LED_ONE
MSSQL_USER=sa
MSSQL_PASS=olamakota1
MSSQL_CHARSET=UTF-8

# BASELINKER
BASELINKER_TOKEN=6000685-6001609-6NPENDOBYZ8BJ4O4PKM3TH69MQ8Y6ANCFK3GIS6IO1F7INW0NMJ2LQEIBX3ICNN6

# ALLEGRO (jeśli będziesz dociągał etykiety przez Allegro)
ALLEGRO_USER_ID=25969413
ALLEGRO_TOKEN=CHANGE_ME

# INPOST SHIPX (jeśli generujesz/pobierasz etykiety)
INPOST_TOKEN=CHANGE_ME
INPOST_ORG_ID=12368

# DPD
DPD_WSDL="https://dpdservices.dpd.com.pl/DPDPackageXmlServicesService/DPDPackageXmlServices?WSDL"
DPD_LOGIN=CHANGE_ME
DPD_MASTER_FID=CHANGE_ME
DPD_PASS=CHANGE_ME

# GLS
GLS_WSDL="https://adeplus.gls-poland.com/adeplus/pm1/ade_webapi2.php?wsdl"
GLS_USER=CHANGE_ME
GLS_PASS=CHANGE_ME

# POCZTA POLSKA (enadawca)
POCZTA_WSDL="https://e-nadawca.poczta-polska.pl/websrv/en.wsdl"
POCZTA_LOCATION="https://e-nadawca.poczta-polska.pl/websrv/en.php"
POCZTA_USER=CHANGE_ME
POCZTA_PASS=CHANGE_ME

# Subiekt import
SUB_DOC_DAYS_BACK=0
SUB_DOC_TYPES=6
SUB_MAG_ID=1
SUB_PODTYTUL_PATTERN=*
MANAGERS=KIEROWNIK,SZEFOWA,SZEF
PACKING_STALE_MIN=30
APP_VERSION=dev

# Station -> printer IP (nierozłączne)
STATION1_PRINTER_IP=192.168.0.101
STATION2_PRINTER_IP=192.168.0.102
STATION3_PRINTER_IP=192.168.0.103
STATION4_PRINTER_IP=192.168.0.104
STATION5_PRINTER_IP=192.168.0.105
STATION6_PRINTER_IP=192.168.0.106
STATION7_PRINTER_IP=192.168.0.107
STATION8_PRINTER_IP=192.168.0.108
STATION9_PRINTER_IP=192.168.0.109
STATION10_PRINTER_IP=192.168.0.110
STATION11_PRINTER_IP=192.168.0.111

# Packers barcode map (ostatnie 2 cyfry z a0... => nazwa)
PACKERS_MAP=01=PPOMIERNY,02=EKALUZA,03=MWOZNIAK,04=RJANIK,05=IMAKLES,06=ZKULEJ,07=MCHLAD,08=KIEROWNIK,09=SZEFOWA,10=KSIECZKA,11=Mateusz,12=KOTOLA,13=GOSC,14=AWYCHOWSKA,15=WWOLDANSKA,16=KKUC,17=ANOCON,18=JANDRZEJEWSKA,19=KMUCHA
