RewriteEngine On

# przepuść istniejące pliki i katalogi
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# wszystkie żądania /api/v1/... kieruj do routera v1
RewriteRule ^api/v1/?$ api/v1/index.php [QSA,L]
RewriteRule ^api/v1/.*$ api/v1/index.php [QSA,L]
